<h3 class= "text-center">Welcome adventurer</h3>
<div class="row justify-content-center mx-auto">
  <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to 'Mis personajes', personajes_path %></button>
</div>
<br>
<div class="text-center">
  <%= image_tag("village.jpg", class: "img-fluid img-thumbnail") %>
</div>

