
 <br>
<div class="container">
  <div class="row  justify-content-center">
<div class="text-center">
<div class="card border-primary mb-3" style="max-width: 40rem;">
  <div class="card-header"> <%= "Bienvenido aventurero " %></div>
  <div class="card-body text-primary">
    <h5 class="card-title">¡Enhorabuena!</h5>
    <p class="card-text"><%= "" %></p>
    
  </div>
  <div class="card-footer bg-transparent border-primary"><button type="button" class="btn btn-outline-primary btn-lg"><%= link_to 'Partir de la ciudad', etapa2_path(personaje: @personaje.id) %></button></div>
  
</div>
</div>
</div>
</div>